@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --very_light_graylist_blue: hsl(210, 60%, 98%);
    --light_graylist_blue_1: hsl(211, 68%, 94%);
    --light_graylist_blue_2: hsl(205, 33%, 90%);
    --graylist_blue: hsl(219, 14%, 63%);
    --dark_graylist_blue: hsl(219, 12%, 42%);
    --very_dark_blue: hsl(224, 21%, 14%);
    --font_large:12px;
    --font_medium:11px;
    @media screen and (max-width: 475px) {
        --font_medium:12px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light_graylist_blue_1);
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.notif-parent {
    width: 450px;
    height: fit-content;
    height: 80%;
    padding: 1em 0;
    font-family: "Plus Jakarta Sans";
    background-color: var(--white);
    border-radius: 12px;

    .head {
        display: flex;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 17px;

        #notification {
            display: flex;

            span {
                &:nth-child(1) {
                    font-weight: 800;
                }
            }

            .notif-count {
                background-color: var(--blue);
                width: 25px;
                display: flex;
                color: var(--white);
                margin-left: 7px;
                border-radius: 4px;
                font-size: var(--font_large);
                font-family: 800;
                justify-content: center;
                align-items: center;
                height: 19px;
            }
        }

        #read-all {
            cursor: pointer;
            font-size: var(--font_large);
            color: var(--dark_graylist_blue);
            &:hover {
                cursor: pointer;
                color: var(--blue);
            }
        }
    }

    #notif {
        // border: 1px solid red;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0 1em;
        height: 92%;

        .item-parent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 10px;
            position: relative;
            padding: 0.55em 0.6em;
            border-radius: 4px;
            background-color: var(--very_light_graylist_blue);
            // background-color: var(--light_graylist_blue_1);
            .item {
                display: flex;
                border: 1px solid unset;
                position: relative;

                align-items: flex-start;

                .avatar {
                    margin-right:11px;

                    img {
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        border: 1px solid var(--light_graylist_blue_2);
                    }
                }

                .test {
                    width: 100%;
                    display: flex;
                    padding: 0;
                    flex-direction: column;
                    height: 100%;
                    position: relative;
                    top: -2px;
                    // border: 1px solid red;
                    div {
                        // border: 1px solid yellow;
                        line-height: 0.92;
                        .user {
                            font-weight: 800;
                            font-size: var(--font_medium);
                            margin-right: 4px;
                            &:hover {
                                color: var(--blue) !important;
                                cursor: pointer;
                            }
                        }

                        .action {
                            color: var(--graylist_blue);
                            font-size: var(--font_medium);
                            margin-right: 4px;
                        }

                        .text {
                            font-weight: 800;
                            color: var(--dark_graylist_blue);
                            font-size: var(--font_medium);
                            &:hover {
                                color: var(--blue) !important;
                                cursor: pointer;
                            }
                        }
                        .group {
                            color: var(--blue);
                            &:hover {
                                color: var(--blue) !important;
                                cursor: pointer;
                            }
                        }

                        .unread {
                            position: relative;
                            &::after {
                                content: "";
                                border-radius: 50%;
                                background-color: var(--red);
                                // transform: translate(-50%, -50%);
                                top: 45%;
                                right: -13.7px;
                                width: 8px;
                                height: 8px;
                                position: absolute;
                            }
                        }
                        @media screen and (max-width: 475px) {
                            line-height: 1.1;
                        }
                    }
                    .time {
                        font-size: var(--font_medium);
                        color: var(--graylist_blue);
                        margin-top: 4px;
                        width: fit-content;
                    }
                }
                .image_message {
                    width: 28px;
                    height: 28px;
                    border-radius: 8px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .message {
                position: relative;
                border: 1px solid var(--light_graylist_blue_2);
                padding: 1em;
                margin-top: 10px;
                border-radius: 6px;
                color: var(--dark_graylist_blue);
                font-size: var(--font_medium);
                &:hover {
                    background-color:var(--light_graylist_blue_1);
                    cursor: pointer;
                }
            }
        }
    }
    @media screen and (max-width: 475px) {
        height: 100%;
    }
}